.contentUI {
  flex: auto;
  height: 100%;
  background-color: $gray-F5;
  padding: 20px 88px 47px 24px;

  @media (max-width: $xxxl-media) {
    padding-inline-end: 60px;
  }
  @media (max-width: $xxl-media) {
    padding-top: 10px;
    padding-inline-end: 40px;
  }
  @media (max-width: $xl-media) {
    padding-inline-end: 24px;
  }
  @media (max-width: $lg-media) {
    padding: 20px 10px 60px;
  }

  @media (min-width: $lg-media) {
    height: calc(100vh - 98px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
      background-color: $gray-EF;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary;
      outline: 1px solid $primary;
    }
  }
}
