.jobCard {
  background-color: $white;
  width: 100%;
  border: 1px solid $gray-F0;
  @include borderRadius(5px);
  @include transition(0.3s);
  &:hover {
    background-color: $gray-F3F;
  }
  .cardHead {
    padding: 30px 41px 26px 67px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    @media (max-width: $xxl-media) {
      padding: 30px;
    }
    @media (max-width: $xl-media) {
      padding: 20px;
    }
    @media (max-width: $md-media) {
      padding: 11px 17px;
    }
    .cardContent {
      display: flex;
      flex-direction: column;
      gap: 18px;
      .cardImage {
        display: flex;
        align-items: center;
        gap: 16px;
        .image {
          background-color: $white;
          width: 70px;
          height: 70px;
          @media (max-width: $md-media) {
            width: 32px;

            height: 32px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .cardTitle {
          h4 {
            color: $black-16;
            font-weight: 500;
            font-size: 25px;
            line-height: 37.5px;
            letter-spacing: 0%;
            @media (max-width: $md-media) {
              font-size: 14px;
              line-height: 21px;
            }
          }
          p {
            color: $primary;
            font-weight: 700;
            font-size: 17px;
            line-height: 24px;
            letter-spacing: 0%;
            @media (max-width: $md-media) {
              font-size: 11px;
              line-height: 11.24px;
            }
          }
        }
      }
      .cardAddress {
        display: flex;
        align-items: center;
        gap: 14px;
        div {
          display: flex;
          align-items: center;
          gap: 3px;
          span {
            color: $gray-70;
            font-weight: 400;
            font-size: 17px;
            line-height: 27px;
            letter-spacing: 0%;
            @media (max-width: $md-media) {
              font-size: 11px;
              line-height: 12.65px;
            }
          }
          @media (max-width: $md-media) {
            img {
              width: 10px;
              height: 10px;
            }
          }
        }
      }
      .cardAbout {
        display: flex;
        align-items: center;
        gap: 4px;
        li {
          min-height: 35px;
          background-color: $gray-F7;
          padding: 4px 18px;
          @include borderRadius(4px);
          color: $gray-70;
          font-weight: 500;
          font-size: 16px;
          line-height: 26.22px;
          letter-spacing: 0%;
          text-align: center;
          @media (max-width: $md-media) {
            min-height: 17px;
            padding: 2px 8px;
            font-size: 9px;
            line-height: 12.29px;
          }
        }
      }
    }
    .likeBtn {
      width: 55px;
      height: 55px;
      @include borderRadius(50%);
      border: 0.73px solid $gray-C4;
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      @include transition(0.3s);
      svg {
        @include transition(0.3s);
        font-size: 24px;
        color: $gray-C4;
      }
      @media (max-width: $md-media) {
        width: 25px;
        height: 25px;
        svg {
          font-size: 13px;
        }
      }
      &:hover {
        border-color: $red-ED;
        svg {
          color: $red-ED;
        }
      }
    }
  }
  .cardFooter {
    padding: 26px 41px 35px 67px;
    border-top: 1px solid $gray-F0;
    display: flex;
    align-items: center;
    gap: 64px;
    @media (max-width: $md-media) {
      padding: 12px 17px;
      gap: 32px;
    }

    li {
      color: $gray-70;
      font-weight: 400;
      font-size: 17px;
      line-height: 27px;
      letter-spacing: 0%;
      position: relative;
      &:not(:last-of-type)::before {
        content: "";
        position: absolute;
        top: 50%;
        right: -50px;
        margin: 0px 16px;
        background-color: $gray-70;
        width: 10px;
        height: 2px;
      }
      @media (max-width: $md-media) {
        font-size: 10px;
        line-height: 12.65px;
        &:not(:last-of-type)::before {
          content: "";
          position: absolute;
          top: 50%;
          right: -24px;
          margin: 0px 8px;
          width: 6px;
          height: 1px;
        }
      }
    }
  }
}
