.header {
  height: 98px;
  width: 100%;
  background-color: $black-16;
  display: flex;
  align-items: center;

  box-shadow: $shadow-5;
  @media (min-width: $lg-media) {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1000;
  }
  @media (min-width: $lg-media) {
    height: 83px;
  }
  @media (max-width: $xxxl-media) {
    height: 85px;
  }
  @media (max-width: $lg-media) {
    height: 83px;
  }

  .container {
    width: 100%;
    height: 100%;
    padding: 16px 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    @media (max-width: $xxxl-media) {
      padding: 8px 60px;
    }
    @media (max-width: $xxl-media) {
      padding: 8px 40px;
    }
    @media (max-width: $xl-media) {
      padding: 8px 24px;
    }
    @media (max-width: $lg-media) {
      // padding: 8px 16px;
      display: none;
    }
    .start {
      display: flex;
      align-items: center;
      gap: 46px;
      @media (max-width: $xxxl-media) {
        gap: 24px;
      }
      @media (max-width: $xxl-media) {
        gap: 16px;
      }
      .search {
        display: flex;
        align-items: center;
        gap: 16px;
        background-color: $white;
        border: 1px solid $gray-E9;
        @include borderRadius(47px);
        width: 451px;
        height: 61px;
        padding: 7px 12px;
        @media (max-width: $xxxl-media) {
          width: 350px;
          height: 50px;
          padding: 7px 9px;
        }
        .searchBtn {
          width: 47px;
          min-width: 47px;
          max-width: 47px;
          height: 47px;
          min-height: 47px;
          max-height: 47px;
          @include borderRadius(50%);
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $primary;
          @include transition(0.2s);
          opacity: 1;
          svg {
            font-size: 24px;
            color: $white;
          }
          &:hover {
            opacity: 0.7;
          }
          @media (max-width: $xxxl-media) {
            width: 36px;
            min-width: 36px;
            max-width: 36px;
            height: 36px;
            min-height: 36px;
            max-height: 36px;
            svg {
              font-size: 20px;
            }
          }
        }
        input {
          width: 100%;
          height: 100%;
          font-size: 18px;
          color: $black;
          @include borderRadius(16px);
          &::placeholder {
            color: $gray-C4;
            font-weight: 400;
            font-size: 20px;
            line-height: 26.04px;
            letter-spacing: 2%;
            @media (max-width: $xxxl-media) {
              font-size: 16px;
            }
          }
        }
      }
    }
    .navLinks {
      height: 100%;
      display: flex;
      align-items: flex-end;
      gap: 58px;
      @media (max-width: $xxxl-media) {
        gap: 28px;
      }

      li {
        display: flex;
        align-items: center;
        gap: 58px;
        @media (max-width: $xxxl-media) {
          gap: 28px;
        }
      }
      .navLink {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        @include transition(0.2s);
        opacity: 1;
        &:hover {
          opacity: 0.7;
        }
        @media (max-width: $xxxl-media) {
          gap: 0px;
        }
        .linkTxt {
          color: $gray-E6;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0%;
          font-size: 16px;
          @media (max-width: $xxxl-media) {
            font-size: 14px;
          }
        }
      }

      .separator {
        display: block;
        height: 55px;
        width: 1px;
        background-color: $gray-D6;
        @include borderRadius(2px);
        @media (max-width: $xxxl-media) {
          height: 50px;
        }
      }
    }
  }
  .containerMob {
    width: 100%;
    height: 100%;
    padding: 19px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    @media (min-width: $lg-media) {
      display: none;
    }
  }
}
