.dragableItem {
  touch-action: none;

  .dragableItemWrap {
    width: 100%;
    @include borderRadius(4px);
    background-color: $gray-F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  .dragItemTitle,
  .dragItemTitleDimt {
    flex: auto;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0px;

    .dragIcon {
      padding: 18px 6px 18px 30px;
      @include transition(0.3s);
      &:hover {
        background-color: $gray-F0;
      }
      @media (max-width: $xxxl-media) {
        padding: 22px 6px 22px 26px;
      }
      svg {
        color: $black-40;
        font-size: 32px;
        @media (max-width: $xxxl-media) {
          font-size: 24px;
        }
      }
    }
    .inputBox {
      padding: 18px 0px;
      @media (max-width: $xxxl-media) {
        padding: 22px 0px;
      }
      width: 100%;
      input {
        width: 90%;
        color: $black-40;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0%;
        &::placeholder {
          color: $black-40;
          font-weight: 500;
          font-size: 18px;
          line-height: 26.22px;
          letter-spacing: 0%;
        }
      }
      .editableInput {
        background-color: $gray-E6;
      }
      .disabledInput {
      }
    }

    h4 {
      color: $black-40;
      font-weight: 500;
      font-size: 24px;
      line-height: 26.22px;
      letter-spacing: 0%;
      @media (max-width: $xxxl-media) {
        font-size: 17px;
        line-height: 26.22px;
      }
    }
  }
  .dragItemTitleDimt {
    .dragIcon {
      svg {
        color: $gray-CD;
      }
    }
    .inputBox {
      input {
        &::placeholder {
          color: $gray-CD;
        }
      }
    }
  }
  .dragItemIcons {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-inline-end: 30px;
    @media (max-width: $xxxl-media) {
      padding-inline-end: 26px;
      gap: 8px;
    }
    .editBtn,
    .viewBtn {
      padding-top: 18px;
      padding-bottom: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        font-size: 24px;
        color: $gray-84;
        @include transition(0.3s);

        @media (max-width: $xxxl-media) {
          font-size: 18px;
        }
      }
      &:hover {
        svg {
          color: $black-40;
        }
      }
    }
    .editBtn {
    }
    .viewBtn {
    }
  }
}
