.navContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  .navListsWraper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 4px $gray-CD;
      background-color: $gray-CD;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary;
      outline: 1px solid $primary;
    }
  }
}
