.navBarSideMenu,
.navBarSideMenuHidden {
  z-index: 1000;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;

  // inset: 0; /* Equivalent to top: 0; right: 0; bottom: 0; left: 0 */
  // width: 100%; /* Ensures full coverage including scrollbar */
  // height: 100vh;
  @include transition(0.3s);

  background-color: $white;
  width: 100vw;
  height: 100vh;
}

.navBarSideMenu {
  left: 0px;
}
.navBarSideMenuHidden {
  left: 100%;
}
