.profDropMenu {
  position: absolute;
  top: calc(100% + 20px);
  right: -40px;
  //   left: -50%;
  //   @include transform(translateX(-50%));
  border: 1px solid $gray-D8;
  background-color: $white;
  width: 316px;
  min-height: 332px;
  @include borderRadius(11px);
  @media (max-width: $xxxl-media) {
    right: 0px;
  }
  .profInfo {
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
    padding: 25px 25px 23px 23px;
    .profTopStart {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 17px;
      .profImg {
        width: 70px;
        min-width: 70px;
        max-width: 70px;
        height: 70px;
        min-height: 70px;
        max-height: 70px;
        @include borderRadius(50%);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          @include borderRadius(50%);
        }
      }
      .profTitle {
        .userName {
          color: $black-16;
          font-weight: 500;
          font-size: 19px;
          line-height: 28.5px;
          letter-spacing: 0%;
        }
        .userTtl {
          color: $gray-70;
          font-weight: 400;
          font-size: 15px;
          line-height: 27px;
          letter-spacing: 0%;
        }
      }
    }

    .goBtn {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        color: $gray-C4;
        font-size: 20px;
        @include transition(0.3s);
      }
      &:hover {
        svg {
          color: $gray-D6;
        }
      }
    }
  }
  .profLinks {
    height: 141px;
    padding: 20px 24px;
    border-top: 1px solid $gray-F0;
    border-bottom: 1px solid $gray-F0;
    display: flex;
    flex-direction: column;
    gap: 11px;
    a {
      color: $gray-70;
      font-weight: 500;
      font-size: 17px;
      line-height: 25.5px;
      letter-spacing: 0%;
      @include transition(0.3s);
      &:hover {
        color: $black-16;
      }
    }
  }
  .logoutBtn {
    height: 73px;
    padding: 22px 25px 25px 24px;
    .btn {
      color: $red-ED;
      font-weight: 500;
      font-size: 17px;
      line-height: 25.5px;
      letter-spacing: 0%;
      @include transition(0.3s);
      opacity: 1;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
