.profDropMenu {
  position: absolute;
  top: calc(100% + 20px);
  right: -40px;
  //   left: -50%;
  //   @include transform(translateX(-50%));
  border: 1px solid $gray-D8;
  background-color: $white;
  width: 316px;
  min-height: 332px;
  @include borderRadius(11px);
  @media (max-width: $xxxl-media) {
    right: 0px;
  }
}
