.homeContent {
  height: 100%;
  .sort {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-inline-end: -30px;
    @media (max-width: $xxl-media) {
      margin-inline-end: 0px;
    }
  }
  .container {
  }
  .topSec {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 18px;
    @media (max-width: $xxxl-media) {
      margin-top: 0;
    }
    .topHead {
      flex: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      padding: 23px 30px 22px 40px;
      background-color: $primary;
      border: 1px solid $primary;
      @include borderRadius(3px);
      height: 111px;
      @media (max-width: $xxxl-media) {
        height: 80px;
      }
      @media (max-width: $lg-media) {
        align-items: flex-end;
        height: 57px;
        padding: 10px 16px;
      }
      .topHeadStart {
        display: flex;
        flex-direction: column;
        gap: 2px;
        @media (max-width: $lg-media) {
          gap: 8px;
        }
        .topTtl {
          color: $white;
          font-weight: 700;
          font-size: 23px;
          line-height: 26.22px;
          letter-spacing: 0%;
          @media (max-width: $lg-media) {
            font-size: 14px;
            line-height: 12.27px;
          }
        }
        .topTxt {
          color: $white;
          font-weight: 400;
          font-size: 17px;
          line-height: 26.22px;
          letter-spacing: 0%;
          @media (max-width: $lg-media) {
            font-size: 11px;
            line-height: 12.27px;
          }
        }
      }
      .topHeadEnd {
        display: flex;
        align-items: center;
        gap: 12px;
        .alertTxt {
          color: $white;
          font-weight: 400;
          font-size: 21px;
          line-height: 26.22px;
          letter-spacing: 0%;
          @media (max-width: $lg-media) {
            font-size: 16px;
            line-height: 12.27px;
          }
          @media (max-width: $md-media) {
            font-size: 14px;
          }
          @media (max-width: $sm-media) {
            font-size: 11px;
          }
        }
      }
    }
    .mobNavBtn {
      width: 57px;
      height: 57px;
      border: 1px solid $gray-F0;
      @include borderRadius(3px);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      svg {
        width: 24px;
        height: 24px;
        color: $gray-6B;
      }
      display: none;
      @media (max-width: $lg-media) {
        display: flex;
      }
    }
  }
  .jobList {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    @media (max-width: $md-media) {
      margin-top: 11px;
    }
  }
}
