.mobNavBtnWrap {
  .mobNavBtn {
    width: 57px;
    height: 57px;
    border: 1px solid $gray-F0;
    @include borderRadius(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    @include transition(0.3s);
    display: none;
    svg {
      width: 24px;
      height: 24px;
      color: $gray-6B;
      @include transition(0.3s);
    }
    &:hover {
      border-color: $primary;
      svg {
        color: $primary;
      }
    }
    @media (max-width: $lg-media) {
      display: flex;
    }
  }
}
